.afc-settings-row {
    flex-wrap: wrap;
}

.afc-settings-row-group {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: .25em;
}

.is-phone .afc-settings-row-group:last-child {
    padding-top: 0.75em;
}

.afc-mv-button-group {
    display: flex;
    flex-flow: column nowrap;
}

.is-phone .afc-mv-button-group {
    display: none;
}

.afc-rules-label-input-container {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.afc-rules-label-input-container label {
    font-size: 0.8em;
    font-weight: bold;
    padding-left: .5em;
}

.is-phone input[type="color"] {
    width: 52%;
}