.afc-rules-container .setting-item-control {
    flex-wrap: wrap;
}

.afc-setting-key-input {
    max-width: 8em;
}

.afc-setting-color-input {
    max-width: 7em;
}

.afc-setting-value-input {
    width: auto;
}

.afc-setting-key-input,
.afc-setting-color-input,
.afc-setting-value-input {
    min-width: 5em;
}

.afc-rules-label-input-container {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.afc-rules-label-input-container label {
    font-size: 0.8em;
    font-weight: bold;
    padding-left: .5em;
}

.afc-settings-row-group {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
    gap: .25em;
}

.afc-item-border {
    border: .2em solid;
}